
.AlertBox {
    width: 1200px;
    height: 386px;
    background: #fff;
    z-index: 9;
    border-radius: 13px 7px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 47px;

    .Detial{
        width: 1200px;
        height: 386px;
        background: #fff;
    }
    &::after {
        position: absolute;
        content: '';
        z-index: -1;
        background: rgba($color: #fff, $alpha: 0.6);
        width: 1250px;
        height: 405px;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        border-radius: 13px 7px;

    }
    span{
        color: #544840;
    }
    & span:nth-child(3){
        font-size: 61px;
    }
}