.QuestionBox{
    width: 2355px;
    height: 863px;
    // background: #000;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    .detial{
        width: 80%;
        height: 77%;

        .QuestionTitle{
            width: 100%;
            min-height: 190px;
            font-size: 45px;
            font-weight: bold;
            word-break: break-all;
        }
        .QuestionOptionGroup{
            width: 100%;
            height: calc(100% - 269px);
            // background: #000;
            flex-wrap: wrap;
            .OptionBox{
                width: calc(50% - 40px);
                margin: 0 20px;
                height: 50%;
                // background: #fff;
                font-size: 40px;
                word-break: break-all;
                .optionkey{
                    font-weight: bold;
                }
            }
        }
    }
}